{%- if recommendations.performed -%}
  {%- if section.settings.show_product_recommendations -%}
    {%- if recommendations.products_count > 0 -%}
      <div class="product-recommendations">
        <div class="product-recommendations__heading grid text-center">
          <div class="grid__item medium-up--ten-twelfths medium-up--push-one-twelfth">
            <h2>{{ section.settings.heading | escape }}</h2>
          </div>
        </div>
        <ul class="product-recommendations__slider" data-recommendations-slider>
          {%- for product in recommendations.products -%}
            <li class="product-recommendations__slide" data-recommendations-slide data-product-recommendation-index="{{ forloop.index }}">
              {% include 'product-card', product: product %}
            </li>
          {%- endfor -%}
        </ul>
        {%- if recommendations.products_count > 1 -%}
          <div class="product-recommendations__indicators-wrapper" aria-hidden="true" data-recommendations-indicators>
            {%- for product in recommendations.products -%}
              <span class="product-recommendations__slide-indicator" data-recommendations-indicator data-product-recommendation-indicator-index="{{ forloop.index }}"></span>
            {%- endfor -%}
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}
  {%- endif -%}
{%- else -%}
  <div data-base-url="{{ routes.product_recommendations_url }}" data-product-id="{{ product.id }}" data-section-id="{{ section.id }}" data-section-type="product-recommendations"></div>
{%- endif -%}
